/*
Main CSS file. Extra styling by classes.
Most of styling is done by Material-UI
*/

body{
  background: #FAF8F8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_details--wrapper{
  margin-left: 70px;
}
.user_details--divider {
  display: block;
  width: 75%;
  border-bottom: 1px lightgray solid;
  color: rgb(0, 0, 0 0.90);
}
.user_details--icon{
  position: relative;
  bottom: -4px;
  fill: rgb(0, 0, 0);
  fill-opacity: 0.85;  
}
.user_details--box {
  width: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}
.user_details--box-title {
  margin-left: 15px;
  margin-bottom: 0;
  flex-basis: 100%;
}
.user_details--box-singleValue {
  width: 190px;
}
.user_details--box-singleValue-oneLine{
  width: 400px;
}
.secondaryValue > div{
  color: lightgray;
  font-size: 15px;
}
.user_details--horizontalSeparator{
  overflow: hidden;
  width: 100%;
}